<th:block th:fragment="header">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Lançador Web</title>
    <link href="/css/base/bootstrap.css" th:href="@{/css/base/bootstrap.css}" rel="stylesheet" media="screen"/>
    <link href="/css/base/bootstrap-theme.css" th:href="@{/css/base/bootstrap-theme.css}" rel="stylesheet" media="screen"/>
    <link href="/css/base/bootstrap-table.css" th:href="@{/css/base/bootstrap-table.css}" rel="stylesheet" media="screen"/>
    <link href="/css/menu/metisMenu.css" th:href="@{/css/menu/metisMenu.css}" rel="stylesheet" media="screen"/>
    <link href="/css/menu/sb-admin-2.css" th:href="@{/css/menu/sb-admin-2.css}" rel="stylesheet" media="screen"/>
    <link href="/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" media="screen"/>

    <link href="/css/fonts/font-awesome.min.css" th:href="@{/css/fonts/font-awesome.min.css}" rel="stylesheet"/>

    <script src="/js/base/jquery-2.2.4.js" th:src="@{/js/base/jquery-2.2.4.js}"></script>
    <script src="/js/base/bootstrap.js" th:src="@{/js/base/bootstrap.js}"></script>
    <script src="/js/base/bootstrap-table.js" th:src="@{/js/base/bootstrap-table.js}"></script>
    <script src="/js/base/bootstrap-table-pt-BR.js" th:src="@{/js/base/bootstrap-table-pt-BR.js}"></script>
    <script src="/js/menu/metisMenu.js" th:src="@{/js/menu/metisMenu.js}"></script>
    <script src="/js/menu/sb-admin-2.js" th:src="@{/js/menu/sb-admin-2.js}"></script>
    <script src="/js/base/bootbox.js" th:src="@{/js/base/bootbox.js}"></script>
    <script src="/js/base/bootstrap-modal-waiting.js" th:src="@{/js/base/bootstrap-modal-waiting.js}"></script>
    <script src="/js/base/validator.js" th:src="@{/js/base/validator.js}"></script>
    <script src="/js/base/bootstrap-table-filter-control.js"
            th:src="@{/js/base/bootstrap-table-filter-control.js}"></script>
    <script src="/js/root.js" th:src="@{/js/root.js}"></script>

</th:block>