<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="base/head-padrao-css-js :: header"/>
</head>
<body>
<th:block th:include="base/menu :: menu"/>
<div id="page-wrapper">
    <div class="col-lg-12">
        <h1 class="page-header" th:text="${titulo}"></h1>
        <ol class="breadcrumb">
            <li><a th:href="@{/eventos}">Eventos</a></li>
            <li class="active" th:text="${titulo}"></li>
        </ol>
        <th:block th:substituteby="base/mensagens :: mensagens"></th:block>
        <form th:action="@{/eventos/cadastro/save}" th:object="${evento}" method="post" data-toggle="validator" role="form">
            <div class="form-group">
                <label for="id">Código :</label>
                <input type="number" class="form-control" id="id" th:field="*{id}" readonly="readonly"/>
            </div>
            <div class="form-group">
                <label for="descricao">Descrição :</label>
                <input type="text" class="form-control" id="descricao" th:field="*{descricao}" maxlength="100"
                       placeholder="Descrição do Evento" required="required"/>
                <div class="help-block with-errors"></div>
            </div>
            <div class="form-group">
                <label for="url">URL :</label>
                <input type="text" class="form-control" id="url" th:field="*{url}" maxlength="255"
                       placeholder="URL do Evento" required="required"/>
                <div class="help-block with-errors"></div>
            </div>
            <div class="form-group">
                <label>Ícone</label>
                <input class="form-control icp icp-auto" th:field="*{icone}" value="" type="text" />
            </div>
            <div class="form-group">
                <label>Demonstração do Ícone</label>
                <p class="lead">
                    <i class="fa fa-3x picker-target"></i>
                </p>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="ativo" th:field="*{ativa}" th:checked="true"/> Ativo?
                </label>
            </div>
            <button sec:authorize-url="/eventos/cadastro/save" type="submit" class="btn btn-success"><i class="fa fa-check"/> Salvar</button>
        </form>
    </div>
</div>
<script>
    $(function() {
        $('.icp-auto').iconpicker();
        $('.icp').on('iconpickerSelected', function(e) {
            $('.lead .picker-target').get(0).className = 'picker-target fa-3x ' +
                    e.iconpickerInstance.options.iconBaseClass + ' ' +
                    e.iconpickerInstance.getValue(e.iconpickerValue);
        });
    });
</script>
</body>
</html>